@import '../../styles/index.css';

.method {
  background-color: var(--button-default);
  color: var(--button-method-text);
}

.result {
  background-color: var(--button-result);
  color: var(--button-result-text);
}

.span2 {
  grid-column: 1 / span 2;
}
